*.xls
*.xlsm
vbaProject.bin
Backups/*
*.a2l
*.dat
*.tdf
*.nsd
*.Var
Hobbes.ini
RunHistory/*
Log/*
Data/*
Matlab/*
SetupLibrary/*
PreviousChangeDate.txt
Procedure_Listing.txt
RequiredItems.txt
StrategyInfo.txt
unit_list.txt
*.ini
